<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ this.page.meta_title }} - Tailwind theme</title>

{# TailwindCSS CDN & Config #}
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    clifford: '#da373d',
                //     Add your own colors
                }
            }
        }
    }
</script>

{# AlpineJS CDN #}
<script src="//unpkg.com/alpinejs" defer></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>